.shop-create__wrapper {
    width: 60%;
    margin: 50px auto;
    background-color: #007bff;
    padding: 0;
}

.shop__contents--ttl {
    margin: auto;
    color: #fff;
    padding: 30px;
}

.form__group {
    width: 80%;
    margin: 20px;
    padding: 0 30px;
}

.form__shop-name,
.form__shop-area,
.form__shop-genre {
    height: 30px;
    width: 100%;
}

.form__shop-comment {
    width: 100%;
    height: 200px;
}

.form__error {
    color: #fff;
    margin: 30px;
    font-size: larger;
}

.form__shop-photo--ttl {
    color: #fff;
    margin-top: 30px;
}

.rsv__create--btn {
    width: 100%;
    background-color: #3560F6;
    color: #fff;
    cursor: pointer;
    height: 50px;
    border-style: none;
}

/* TAB用レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-create__wrapper {
        width: 70%;
        margin: 20px auto;
    }

    .shop__contents--ttl {
        padding: 20px;
    }

    .form__group {
        width: 100%;
        margin: 10px;
    }

    .form__shop-comment {
        height: 100px;
    }

    .form__error {
        margin: 10px;
    }

    .form__shop-photo--ttl {
        margin-top: 20px;
    }

}

/* SP用レスポンシブ */
@media screen and (max-width: 480px) {
    .shop-create__wrapper {
        width: 80%;
        margin: 20px auto;
    }

    .shop__contents--ttl {
        padding: 20px;
    }

    .form__group {
        width: 100%;
        margin: 10px;
    }

    .form__shop-comment {
        height: 100px;
    }

    .form__error {
        margin: 10px;
    }

    .form__shop-photo--ttl {
        margin-top: 20px;
    }

}