.flash_message {
    text-align: center;
    margin: 30px;
    color: #ff0000;
    background-color: #fff;
    padding: 30px;
}

.csv__contents{
    width: 80%;
    background-color: #fff;
    margin: auto;
    padding: 50px;
}

.csvimport__contents{
    margin: 50px;
}

.csv__import{
    margin: 50px;
    text-align: center;
}

.form__error {
    color: #ff0000;
    margin: 30px;
    text-align: center;
}
.error__message{
    padding-left: 0;
}

.error__list{
    list-style: none;
}

.csvexport__contents{
    margin: 50px;
}

.csv-template__export{
    margin: 50px;
    text-align: center;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .csv__contents {
        padding: 20px 10px;
    }

    .csvimport__contents {
        margin: 10px;
    }

    .csv__import {
        margin: 10px;
    }

    .csvimport__btn{
        margin: 10px;
    }

    .csvexport__contents {
        margin: 10px;
    }

    .csv-template__export {
        margin: 10px;
    }
}