.shop-detail__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
    padding-top: 30px;
}

.back {
    margin: 20px;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #B7B7B7;
    color: black;
    text-decoration: none;
}

.shop__contents {
    width: 50%;
}

.shop__contents-ttl {
    display: flex;
    justify-content: left;
}

.shop__contets-img {
    width: 100%;
}

.shop__img {
    width: 100%;
}

.shop__contents-tag {
    display: flex;
    justify-content: left;
}

.shop__rsv {
    background-color: #007bff;
    width: 40%;
    position: relative;
}

.rsv__ttl {
    margin: 30px 20px;
    color: #fff;
}

.form__group {
    width: 80%;
    margin: 20px;
}

.rsv-date,
.rsv-time,
.rsv-number {
    height: 30px;
}

.rsv-time,
.rsv-number {
    width: 100%;
}

.form__error {
    color: #fff;
    margin: 30px;
    font-size: larger;
}

.rsv-confirm {
    background-color: #5580F7;
    color: #fff;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.rsv__contents {
    width: 50%;
}


.rsv__edit--btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3560F6;
    color: #fff;
    cursor: pointer;
    height: 50px;
    border-style: none;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__wrapper {
        display: block;
        margin: 0;
        padding-top: 0;
    }

    .shop__contents {
        width: 80%;
        margin: auto;
    }

    .shop__rsv {
        width: 80%;
        margin: auto;
    }

    .rsv-confirm {
        height: auto;
    }

    .rsv__edit--btn {
        position: relative;
    }

}