.main__ttl {
    margin: 0;
    text-align: left;
    padding: 20px;
}

.flash_message{
    text-align: center;
    margin: 30px;
    color: #ff0000;
    background-color: #fff;
    padding: 30px;
}

.login__content {
    width: 50%;
    text-align: center;
    margin: auto;
    box-shadow: 5px 5px 5px #B7B7B7;
}

.login__group-title {
    color: #fff;
    background-color: #3560F6;
}

.login__form-content {
    background-color: #fff;
    padding: 30px;
}

.form__email-text,
.form__pwd-text {
    margin: 30px;
}

.form__input {
    border: none;
    outline: none;
    border-bottom: 2px solid #999;
    width: 80%;
}

.form__email-text::before {
    content: "email";
    font-family: 'Material Icons';
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.form__pwd-text::before {
    content: "lock";
    font-family: 'Material Icons';
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.form__error {
    color: #ff0000;
    border-bottom: 30px;
}

.form__button {
    text-align: right;
}

.form__button-login {
    background-color: #3560F6;
    color: #fff;
    cursor: pointer;
    border: none;
    margin: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}


@media screen and (max-width: 768px) {
    .main__ttl {
        padding: 10px;
    }

    .login__content {
        width: 70%;
        box-shadow: 3px 3px 3px #B7B7B7;
    }

    .form__email-text,
    .form__pwd-text {
        margin: 20px;
    }

    .form__email-text::before,
    .form__pwd-text::before {
        margin-right: 5px;
    }

    .form__error {
        border-bottom: 10px;
    }
}

@media screen and (max-width: 480px) {
    .main__ttl {
        padding: 10px;
    }

    .login__content {
        width: 80%;
        box-shadow: 3px 3px 3px #B7B7B7;
    }

    .form__email-text,
    .form__pwd-text {
        margin: 15px;
    }

    .form__email-text::before,
    .form__pwd-text::before {
        margin-right: 5px;
    }

    .form__error {
        border-bottom: 10px;
    }
}