.shop-detail__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.back {
    margin: 20px;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #B7B7B7;
    color: black;
    text-decoration: none;
}

.shop__contents {
    width: 50%;
    height: 50%;
    margin: auto;
    border-right: 1px solid #B7B7B7;
}

.contents__ttl {
    font-size: 30px;
    padding: 0 25%;
}

.shop__contents--card{
    width: 45%;
    margin: auto;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #B7B7B7;
}

.shop__contets-img {
    width: 100%;
}

.shop__img {
    width: 100%;
}

.shop__contents--desc{
    padding: 20px;
}

.card-name{
    font-size: larger;
    font-weight: bolder;
    margin: 0;
}

.card-tag {
    display: flex;
    justify-content: left;
}

.to-shop-detail{
    background-color: #3560F6;
    border-style: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.shop__rate {
    width: 60%;
    padding: 0 5%;
}

.form__group {
    width: 80%;
    margin: 20px;
}

.form__rating{
    font-size: larger;
    font-weight: bold;
}

.form__error {
    color: #3560F6;
    margin: 30px;
    font-size: larger;
}

.form__fiveStar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.form__fiveStar .star-input {
    display: none;
}

.form__fiveStar .star {
    position: relative;
    padding: 0px 10px;
    color: gray;
    cursor: pointer;
    font-size: 50px;
}

.form__fiveStar .star .evaluation {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
    color: gray;
    width: 100px;
}

.form__fiveStar .star:hover,
.form__fiveStar .star:hover~.star,
.form__fiveStar .star-input:checked~.star {
    color: #3560F6;
}

.form__rate-comment{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #B7B7B7;
    background-color: #F2F2F2;
    height: 150px;
}

.form__rate-comment::placeholder {
    color: #B7B7B7;
}

.count{
    text-align: right;
}

.img__upload {
    padding: 10px 40px;
    background-color: #fff;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: center;
    padding: 30px;
    border-radius: 5px;
}

.img__upload-btn{
    display: none;
}

.form__button {
    text-align: center;
}

.form__button-rate{
    background-color: #fff;
    padding: 10px 20%;
    border-radius: 25px;
    border: none;
    font-size: large;
    cursor: pointer;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__wrapper {
        display: block;
        height: fit-content;
    }

    .shop__contents {
        width: 80%;
        margin: auto;
        border-right: none;
    }

    .contents__ttl {
        font-size: 20px;
        padding: 0 10px;
    }

    .shop__contents--card {
        width: 80%;
    }

    .shop__rate {
        width: 80%;
        margin: 10px auto;
    }

    .shop__rate-form {
        margin: 30px 0px;
    }

    .form__fiveStar {
        justify-content: flex-end;
    }

    .form__fiveStar .star {
        font-size: 30px;
    }
}