.shop-all__wrapper {
    width: 100%;
}

.search-bar{
    display: flex;
    justify-content: flex-end;
}

.sort{
    margin: 0 10px;
    padding: 10px;
    box-shadow: 5px 5px 5px #B7B7B7;
    border-radius: 5px;
    border-style: none
}

.search-form {
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px #B7B7B7;
}

.search-form__keyword{
    width: 50%;
}

.search__area,
.search__genre {
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: 1px solid #B7B7B7;
}

.search__key {
    border: none;
}

.search__btn-wrapper{
    padding: 10px;
    margin-right:10% ;
}

.search__btn{
    cursor: pointer;
    width: max-content;
    margin: auto 0;
}

.shop-all {
    display: flex;
    flex-wrap: wrap;
}

.shop-all__card {
    width: 23%;
    background-color: #fff;
    margin: 10px ;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #B7B7B7;
    position: relative;
}

.shop-all__card-img {
    width: 100%;
}

.card__img {
    width: 100%;
}

.shop-all__card-desc {
    margin: 20px;
}

.shop-all__card-name {
    font-weight: bolder;
    font-size: larger;
}

.card-name {
    margin: 0;
}

.shop-all__card-tag {
    display: flex;
    justify-content: left;
}

.card-tag {
    margin-right: 10px;
}


.to-shop-detail {
    background-color: #3560F6;
    color: #fff;
    border-style: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}

/* タブレット用レスポンシブ */
@media screen and (max-width: 768px) {
    .search-bar {
        display: block;
    }

    .sort {
        margin: 10px 10px;
    }

    .search-form {
        width: 90%;
        margin: 0 30px 10px auto;
    }

    .search-form__area,
    .search-form__genre {
        width: 20%;
    }

    .search-form__keyword {
        width: 40%;
    }

    .search__key {
        width: 100%;
    }

    .search__area,
    .search__area,
    .search__genre {
        width: 100%;
    }

    .search__btn-wrapper{
        text-align: center;
    }

    .search__btn{
        height: auto;
    }

    .shop-all__card{
        width: 100%;
    }
}

/* SP用レスポンシブ */
@media screen and (max-width: 480px) {
    .search-bar {
        display: block;
    }

    .sort {
        margin: 10px 10px;
    }

    .search-form {
        width: 90%;
        margin: 0 30px 10px auto;
    }

    .search-form__area,
    .search-form__genre {
        width: 20%;
    }

    .search-form__keyword {
        width: 40%;
    }

    .search__key {
        width: 100%;
    }

    .search__area,
    .search__area,
    .search__genre {
        width: 100%;
    }

    .search__btn-wrapper {
        text-align: center;
    }

    .search__btn {
        height: auto;
    }

    .shop-all__card {
        width: 100%;
    }
}