.flash_message {
    text-align: center;
    margin: 30px;
    color: #ff0000;
    background-color: #fff;
    padding: 30px;
}

.shop-detail__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
    padding-top: 30px;
}

.back {
    margin: 20px;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #B7B7B7;
    color: black;
    text-decoration: none;
}

.shop__contents {
    width: 45%;
}

.shop__contents-ttl {
    display: flex;
    justify-content: left;
}

.shop__contets-img {
    width: 95%;
}

.shop__img {
    width: 100%;
}

.shop__contents-tag {
    display: flex;
    justify-content: left;
}

.rate__all{
    width: 100%;
    background-color: #007bff;
    text-align: center;
    color: #fff;
    padding: 10px;
    border-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.shop__contents--rating{
    margin: 20px 0;
    border-top: 1px solid #B7B7B7;
    border-bottom: 1px solid #B7B7B7;
    padding: 10px 20px;
}

.rating__edit--btn{
    display: flex;
    justify-content: right;
}

.shop__rating--edit{
    margin: 10px;
}

.rating__img--wrapper{
    width: 50%;
    margin: auto;
}

.rating__img {
    width: 100%;
}

.rsv__rate--btn {
    font-size: medium;
    text-decoration: underline;
    border-style: none;
    cursor: pointer;
}

.shop__rsv {
    background-color: #007bff;
    width: 40%;
    position: relative;
}

.rsv__ttl {
    margin: 30px 20px;
    color: #fff;
}

.form__group {
    width: 80%;
    margin: 20px;
}

.rsv-date,
.rsv-time,
.rsv-number {
    height: 30px;
}

.rsv-time,
.rsv-number {
    width: 100%;
}

.form__error{
    color: #fff;
    margin: 30px;
    font-size: larger;
}

.rsv-confirm {
    background-color: #5580F7;
    color: #fff;
    margin: 20px;
    padding: 20px;
    text-align: left;
}

.rsv__contents {
    width: 50%;
}

.form__button-rsv {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #3560F6;
    color: #fff;
    cursor: pointer;
    height: 50px;
    border-style: none;
}

@media screen and (max-width: 768px) {
    .shop-detail__wrapper {
        display: block;
        width: 80%;
        margin: auto;
    }

    .shop__contents {
        width: 80%;
        margin: auto;
    }

    .shop__rsv {
        width: 80%;
        margin: auto;
    }

    .rsv-confirm {
        height: auto;
    }

    .form__button-rsv {
        position: relative;
    }
}

@media screen and (max-width: 480px) {
    .shop-detail__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .shop__contents {
        width: 80%;
        margin: auto;
    }

    .shop__rsv {
        width: 80%;
        margin: auto;
    }

    .rsv-confirm {
        height: auto;
    }

    .form__button-rsv {
        position: relative;
    }
}