.shop-detail__wrapper {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px;
    padding-top: 30px;
}

.shop__contents {
    width: 40%;
}

.shop__contents-ttl {
    display: flex;
    justify-content: left;
}

.shop__contents-info{
    font-size: larger;
    text-align: center;
    font-weight: bolder;
}


.back {
    margin: 20px;
    font-weight: bolder;
    background-color: #FFFFFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: 5px 5px 5px #B7B7B7;
    color: black;
    text-decoration: none;
}

.shop__contets-img {
    width: 100%;
}

.shop__img {
    width: 100%;
}

.shop__contents-tag {
    display: flex;
    justify-content: left;
}

.shop__contents-update {
    background-color: #007bff;
    width: 50%;
    margin: auto;
}

.shop-update__ttl {
    margin: 30px 20px;
    color: #fff;
    text-align: center;
}

.form__group {
    width: 80%;
    margin: 20px;
}

.form__shop-name,
.form__shop-area,
.form__shop-genre{
    height: 30px;
    width: 100%;
}

.form__shop-comment{
    width: 100%;
    height: 200px;
}

.form__error {
    color: #fff;
    margin: 30px;
    font-size: larger;
}

.form__shop-photo--ttl{
    color: #fff;
    margin-top: 30px;
}

.rsv__edit--btn {
    width: 100%;
    background-color: #3560F6;
    color: #fff;
    cursor: pointer;
    height: 50px;
    border-style: none;
}

/* レスポンシブ */
@media screen and (max-width: 768px) {
    .shop-detail__wrapper {
        display: block;
        margin: 0;
        padding-top: 0;
    }

    .shop__contents {
        width: 80%;
        margin: auto;
    }

    .shop__contents-update {
        background-color: #007bff;
        width: 80%;
        margin: auto;
        padding: 10px 0 0 0;
    }
}

@media screen and (max-width: 480px) {
    .shop-detail__wrapper {
        display: block;
        margin: 0;
        padding-top: 0;
    }

    .shop__contents {
        width: 90%;
        margin: auto;
    }

    .shop__contents-update {
        background-color: #007bff;
        width: 90%;
        margin: auto;
        padding: 10px 0 0 0;
    }
}